
.btn {
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e7e7e7;
}

.btn:active {
  background-color: #a2d8fa;
}

.remote-control__start {
  margin-right: 30px;
}